@model Post

<form asp-controller="Post" asp-action="Adiciona" method="post">

    @*incluindo a EditorTemplate de Post*@
    @Html.EditorFor(p => p)

    <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>

@section Scripts{
    @Html.Partial("_Scripts")
}


