<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale-1.0"/>

    <title>Adminstração - Resenha Cultural</title>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/estilo-admin.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_MenuAdmin")

    <main>
        @RenderBody()
    </main>

    @RenderSection("Scripts", false)
</body>
</html>
